/*********************************

Common

********************************************/

body {
  font-family: "futura", sans-serif;
}

.font-primary {
  color: rgb(255, 0, 0);
}

.title-icon {
  font-size: 25px;
  font-weight: medium;
  font-style: italic;
}
