/*********************************

Common

********************************************/

body {
  font-family: "futura", sans-serif;
}

.font-primary {
  color: darkmagenta;
}

.title-icon {
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  font-stretch: expanded;
}
